/* 
    Document   : boxxy
    Created on : 2012-10-22
    Author     : James Huston
    Description:
    Style the boxxy jquery widget.
*/

.boxxy-header {
    background-color: #6B8E23;
    color: white;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
}

.boxxy-content {
    background-color: #dcdcdc;
    padding: 3px;
    border-top: 2px solid #afafaf;
}

.boxxy-wrapper {
    border: 2px solid #afafaf;
    border-collapse: collapse;
    margin: 2px;
}

.boxxy-indicator {
    float: right;
}
